.form {
  width: 73.05rem;
  height: 29.05rem;
  padding: 3.3rem 13.45rem 26.5rem 20.85rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: grid;
    grid-template-columns: auto auto;
  }

  &__text {
    color: var(--secondary-font-color);
    font-size: var(--extra-big-font-size);
    font-family: "OpenSansSemiBold";
  }
}