.button {
  height: 2.6rem;
  width: 13.65rem;
  padding: 0.8rem 3.75rem;
  border-radius: 0.5rem;
  color: var(--button-font-color);
  font-size: var(--button-font-size);
  font-family: "Roboto";
  text-wrap: nowrap;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);

  &_green {
    background-color: var(--green-button-color);
    border: 0.2rem solid var(--green-button-color);

    @media(hover: hover) {
      &:hover {
        background-color: transparent;
        cursor: pointer;
        color: var(--green-button-color);
      }
    }

    @media(hover: none) {
      &:active {
        background-color: transparent;
        color: var(--green-button-color);
      }
    }
  }

  &_gray {
    background-color: var(--gray-button-color);
    border: 0.2rem solid var(--gray-button-color);

    @media(hover: hover) {
      &:hover {
        background-color: transparent;
        cursor: pointer;
        color: var(--gray-button-color);
      }
    }

    @media(hover: none) {
      &:active {
        background-color: transparent;
        color: var(--gray-button-color);
      }
    }
  }
}