:root {
  //color
  --main-font-color: rgba(0, 0, 0, 1);
  --secondary-font-color: rgba(78, 48, 0, 1);
  --gray-font-color: rgba(115, 115, 115, 1);
  --button-font-color: rgba(255, 255, 255, 1);

  --status-color-active: rgba(128, 187, 0, 1);
  --status-color-offline: rgba(236, 89, 55, 1);

  --green-button-color: rgba(76, 175, 80, 1);
  --dark-gray-button-color: rgba(102, 102, 102, 1);
  --gray-button-color: rgba(115, 115, 115, 1);
  --light-gray-button-color: rgba(196, 196, 196, 1);

  --border-color: rgba(233, 233, 233, 1);
  --gray-border-color: rgba(117, 117, 117, 1);

  --box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);

  //font-variables
  --extra-big-font-size: 1.6rem;
  --big-font-size: 1.5rem;
  --normal-font-size: 1.25rem;
  --button-font-size: 1.2rem;
  --small-fonr-size: 1rem;
  --extra-small-font-size: 0.65rem;

  //z-index
  --modal-index: 1000;
}
