.button {
  height: 5.3rem;
  color: var(--secondary-font-color);
  font-size: var(--normal-font-size);
  font-family: "OpenSansRegular";
  text-wrap: nowrap;
  border: none;
  padding: 1.3rem 2.2rem;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: scale 0.3s ease;

  &_active {
    color: var(--button-font-color);
    background-color: var(--light-gray-button-color);
    border-radius: 2rem;
  }

  @media(hover: hover) {
    &:hover {
      scale: 1.05;
      cursor: pointer;
    }
  }

  @media(hover: none) {
    &:active {
      scale: 1.05;
    }
  }
}