.input {
  display: flex;
  align-items: center;
  height: 2.6rem;
  box-shadow: var(--input-box-shadow);
  border: none;
  border-radius: 0.2rem;
  font-family: "OpenSansRegular";
  font-size: var(--big-font-size);
  text-indent: 0.95rem;

  &_large {
    width: 25.1rem;
  }

  &_normal {
    width: 19.7rem;
  }

  &::placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--gray-font-color);
    font-size: var(--extra-small-font-size);   
  }
}